/* Fuentes */
.merriweather-light {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .merriweather-light-italic {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .merriweather-regular-italic {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .merriweather-bold-italic {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .merriweather-black-italic {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }
  

body{
    font-family: 'Merriweather', serif;
}

.efecto-zoom{
    transition: 1s;
}

.efecto-zoom:hover{
    transform: scale(1.2);
}

.boton-hover{
    transition: 1s;
}

.boton-hover:hover{
  color: #212529 !important;
  background-color: #ffffff;
  border-color: #ffffff;
}

.boton-hover2{
  transition: 1s;
}

.boton-hover2:hover{
  color: #ffffff !important;
  background-color: #212529;
  border-color: #212529;
}

.nav-link:hover {
    font-weight: bold;
    color: #ffc107; /* Color de warning de Bootstrap */
    transition: .5s;
}

.loading-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.hidden{
    display: none;
}
